.lsp-session-v1
\#*\#
session.*
*~
auto-save-list/*
elpa/
elpy/
url/
workspace
eclipse.jdt.ls
games/
autosaves/
tree-sitter/
semanticdb/
bookmarks
eln-cache/
undo/
auto-saves/
emacs-livedown
projectile-bookmarks.eld
.dap-breakpoints
